.contact {
    border: 5px solid #084258;
    background-color: #084258;
    border-radius: 10px;
    padding: 50px;
    text-align:center;
    max-width: 50%;
    margin-top: -30px;
}

.contact img{
    display: inline-block;
    width: 23%;
    height: auto;
    padding: 60px;
    margin-bottom: 50px;
    
	margin-top:55px;
}

.contact img:hover {
    transform: scale(1.5, 1.5);
}

@media screen and (min-width: 320px) and (max-device-width: 415px){
    .contact {
        max-width: 100%;
    }

    .contact img {
        width: 23%;
        padding: 10px;
    }
}

@media screen and (min-width: 640px) and (max-device-width: 736px) {
    .contact {
        max-width: 100%;
    }

    .contact img {
        width: 15%;
        padding: 20px;
    }
}

@media screen and (min-width: 768px) and (max-device-width: 1024px) {
    .contact {
        max-width: 100%;
    }

    .contact img {
        width: 20%;
        padding: 20px;
    }
}

@media screen and (min-width: 1025px) and (max-device-width: 1500px) {
    .contact img {
        width: 15%;
        padding: 20px;
    }
}