#submarine {
    position: absolute;
    top: -400px;
    width: 500px;
    right: 100px;
}

#homem {
    position: absolute;
    top: -430px;
    width: 100px;
    height: 180px;
    right: 0;
}

#balaoFala {
    position: absolute;
    top: -600px;
    width: 300px;
    height: 250px;
    right: 5%;
}

#algas {
    margin-top: -20px;
    margin-left: 23%;
    height: 500px;
    max-width: 25%;
}

#foto-pequena {
    margin-bottom: 20px;
    border-radius: 10px;
}

#bolhas {
    position: absolute;
    top: 500px;
    width: 100px;
    right: 100px;
}

#bolhas2 {
    position: absolute;
    top: 500px;
    width: 100px;
    right: 500px;
}

#balaoAbout, #balaoObjectives, #balaoEscolaridade, #balaoSkills, #balaoCertificados, #balaoContact, #balaoFinal{
    position: absolute;
    top: -500px;
    width: 300px;
    height: 250px;
    right: 30%;
}

.escondeBalao {
    display: none;
}

.balaoInicio {
    display: none;
}

@media screen and (min-width: 320px) and (max-device-width: 415px){
    #submarine, #bolhas,  #bolhas2, #homem, #balaoFala, #balaoAbout, #balaoObjectives, #balaoEscolaridade, #balaoSkills, #balaoCertificados, #balaoContact, #balaoFinal{
        display: none;
    }

    #foto-pequena {
        width: 200px;
    }

    #algas {
        max-width: 40%;
        margin-left: 32%;
    }
}

@media screen and (min-width: 640px) and (max-device-width: 1100px){
    #submarine, #bolhas,  #bolhas2, #homem, #balaoFala, #balaoAbout, #balaoObjectives, #balaoEscolaridade, #balaoSkills, #balaoCertificados, #balaoContact, #balaoFinal{
        display: none;
    }

    #algas {
        max-width: 40%;
        margin-left: 42%;
    }
}

@media screen and (min-width: 1200px) and (max-device-width: 1600px){
    #submarine {
        top: -350px;
        width: 400px;
        right: 80px;
    }
    #homem {
        top: -410px;
        width: 80px;
        height: 160px;
    }
    
    #bolhas2 {
        right: 400px;
    }

    #balaoAbout, #balaoObjectives, #balaoEscolaridade, #balaoSkills, #balaoCertificados, #balaoContact, #balaoFinal{
        right: 25%;
    }
}