.objective {
    border: 5px solid #084258;
    background-color: #084258;
    border-radius: 10px;
    padding: 50px;
    text-align:center;
    max-width: 50%;
    margin-top: -30px;
}

.objective p {
    text-align: justify;   
}

.objective img {
    width: 50%;
    height: auto;
}

@media screen and (min-width: 320px) and (max-device-width: 1100px){
    .objective {
        max-width: 100%;
    }
}
