@import url('https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rancho&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

html, body {
    overflow-x: hidden;
    background: #FFF;
    min-height: 100vh;

}

body {
    background: #FFF;
    min-height: 100vh;
}


#btn {
    text-decoration: none;
    display: inline-block;
    padding: 8px 30px;
    background: #FFF;
    color: #094B65;
    font-size: 1.2em;
    font-weight: 500;
    letter-spacing: 2px;
    border-radius: 40px;
    transform: translateY(100px);
}

.sec {
    position: relative;
    padding: 100px;
    background: #094B65;
}

.sec h2 {
    font-size: 3.5em;
    color: #FFF;
    margin-bottom: 10px;
}

.sec p {
    font-size: 1em;
    color: #FFF;
}

footer {
    background-color: #073446;
    padding: 10px;
    color: #FFF;
    display: flex;
    justify-content: center;
}

@media screen and (min-width: 320px) and (max-device-width: 736px){
    .sec h2 {
        font-size: 2em;
        color: #FFF;
        margin-bottom: 10px;
    }

    .sec {
        padding: 20px;
    }
}

@media screen and (min-width: 640px) and (max-device-width: 736px) {
    #btn {
        display: none;
    }
}

@media screen and (min-width: 768px) and (max-device-width: 834px) {
    .sec {
        padding: 15px;
    }
}

@media screen and (min-width: 1370px) and (max-device-width: 1600px) {
    .sec {
        padding: 50px;
    }
}